.contact-data {
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
    .contact-item {
        font-size: 14px;
        color: #000;
        text-decoration: none;
        padding-right: 10px;
        &:hover svg {
            fill: $color-blue;
        }
        &:hover {
            color: $color-blue;
        }
    }
}

.copy-right {
    position: fixed;
    bottom: 0;
    right: 0;
    .copy-txt {
        font-size: 14px;
        margin: 0;
        color: #000;
        text-decoration: none;
        span {
            color: $color-blue;
        }
    }
}