$hamburger-size: 35px;
.core-nav {
    z-index: 5;
    position: fixed;
    width: 100%;
    background: transparent;
    min-height: 51px;
    .nav-items {
        list-style: none;
        width: 100%;
        height: 100vh;
        background-color: #0075a7d6;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-200%);
        transition: .8s transform;
        li {
            display: flex;
            margin: 0 15px;
            cursor: pointer;
            justify-content: center;
            margin: 20px 0;
            &:hover {
                color: $color-blue;
            }
            a {
                color: #fff;
                font-size: 28px;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
    .nav-hamburger {
        display: none;
        cursor: pointer;
        width: $hamburger-size;
        display: block;
        span {
            display: block;
            height: 2px;
            position: relative;
            width: 100%;
            &:after {
                content: '';
                height: 2px;
                background: $color-blue;
                display: block;
                position: absolute;
                right: 0;
                transition: all .3s ease;
            }
        }
        span:nth-child(2) {
            margin: 9px 0;
        }
        span:nth-child(1):after {
            width: $hamburger-size - 5px;
        }
        span:nth-child(2):after {
            width: $hamburger-size;
        }
        span:nth-child(3):after {
            width: $hamburger-size - 15px;
        }
        &:hover {
            span:after {
                width: $hamburger-size;
            }
        }
        &.open {
            span:after {
                width: 35px;
                background: #fff;
            }
            span:nth-child(1):after {
                transform: translateY(11px) rotateZ(45deg);
            }
            span:nth-child(2):after {
                width: 0;
                transform: translateX( - (35px / 2));
            }
            span:nth-child(3):after {
                transform: translateY(-11px) rotateZ(-45deg);
            }
        }
    }
}

@keyframes ghost {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body.menu-open {
    .nav-items {
        transform: translateY(0) !important;
        transition: .5s transform;
        animation: ghost 1s forwards;
    }
}

.sidebar-nav {
    z-index: 4;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    .social {
        padding: 0;
        list-style: none;
        .social-item {
            background: rgba(0, 0, 0, 0.4);
            margin: 5px 0;
            cursor: pointer;
            svg {
                fill: #f1f1f1;
            }
            &:hover svg {
                fill: $color-blue;
            }
        }
    }
}

.dot-nav {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    height: 100vh;
    .dot-list {
        list-style: none;
        .dot-single {
            display: block;
            width: 10px;
            height: 10px;
            margin: 16px 0;
            position: relative;
            a {
                position: absolute;
                top: 0;
                left: 0;
                width: 10px;
                height: 10px;
                border-radius: 100px;
                background-color: #929090;
                &:hover {
                    background-color: #0075a7;
                }
            }
            &.active a {
                background-color: #3b3b3b;
                -webkit-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.69);
                -moz-box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.69);
                box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.69);
            }
        }
    }
}