.logo {
    width: 35%;
}

main {
    margin: 0;
    height: 100vh;
    scroll-snap-type: block mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    section {
        height: 100vh;
        scroll-snap-align: center;
        scroll-snap-stop: always;
        position: relative;
    }
    #main-sec {
        .page-title {
            border-top: 3px solid black;
            border-bottom: 3px solid black;
            font-weight: 900;
            font-size: 70px;
            padding: 5px 25px;
        }
        .page-sub-title {
            text-shadow: 0 1px 2px rgb(59, 59, 59);
        }
    }
    .sec-title {
        font-weight: 700;
        font-size: 55px;
        margin-bottom: 20px;
    }
    #about {
        .quot {
            border-right: 2px solid $color-blue;
            h3 {
                font-size: 55px;
                font-weight: 400;
                color: #17171d;
                text-shadow: 0 1px 3px rgb(59, 59, 59);
            }
            p {
                font-size: 22px;
                font-weight: 300;
            }
        }
    }
    #tech {
        p {
            font-size: 22px;
            font-weight: 300;
        }
        .tech-logo {
            filter: saturate(20%);
            transition: filter 0.7s ease-out;
            &:hover,
            &:focus {
                filter: none;
            }
        }
    }
}