body * {
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    padding: 25px 50px;
}

.container {
    padding: 25px 200px;
}

.uppercase {
    text-transform: uppercase;
}

h1,
h2 {
    color: #3b3b3b;
    color: #17171d;
}

h3,
h4,
p {
    color: #5a5a5a;
}